* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    text-align: justify;
}

header, .contact, h2 {
    margin-bottom: 20px;
}

header, .centered {
    text-align: center;
}

h1, h2 {
    color: #333;
}

.nav-links a {
    margin-right: 15px;
}

.nav-links {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.about-me-container {
    display: flex;
    align-items: center;
}

.about-me-text {
    flex: 1;
}

.portrait {
    flex: 0 0 auto;
    margin-left: 40px;
    display: block;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

.project-card {
    display: flex;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    align-items: flex-start;
}

.project-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.project-card img {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.project-card iframe {
    flex: 0 0 auto;
    width: 560;
    height: 315;
    margin-right: 20px;
    border-radius: 5px;
}

.project-description, h3 {
    color: #666;
    margin: 0;
    text-align: justify;
}

.project-button {
    display: inline-block;
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.project-button:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .about-me-container {
        flex-direction: column;
    }

    .portrait {
        order: -1;
        margin-bottom: 20px;
        margin-left: 0;
        max-width: 50%;
    }

    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .project-card img {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .project-card iframe {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 560px;
        max-height: 315px;
        height: calc(100vw * 9 / 16);
    }
}
