/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    text-align: justify;
}

header, .contact, h2 {
    margin-bottom: 20px;
}

header, .centered {
    text-align: center;
}

h1, h2 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-links a {
    margin-right: 15px;
}

.nav-links {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.project-card {
    display: flex;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    align-items: flex-start; /* Adjust vertical alignment */
}

.project-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.project-card img {
    flex: 0 0 auto; /* Don't grow, don't shrink, auto for natural aspect ratio */
    width: 300px; /* Fixed width for all images */
    height: 200px; /* Fixed height for all images */
    object-fit: cover; /* Cover the area without breaking aspect ratio */
    margin-right: 20px;
    border-radius: 5px;
}

.project-description, h3 {
    color: #666;
    margin: 0;
    text-align: justify;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .project-card img {
        margin: 0 auto 20px; /* Center image on small screens and add margin below */
        width: 100%; /* Make image full width on small screens */
        max-width: 300px; /* Adjust max-width for mobile */
        height: auto; /* Adjust height to maintain aspect ratio on small screens */
    }
}
